FreeCompose/branches/new-approach/FreeCompose/res/FcConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<!--
		General layout of the FreeCompose XML configuration file:

		<FcConfiguration>
			<Options>
				<Startup />
				<Keyboard />
				<Sounds />
			</Options>
			<Mappings>
				<Group>
					<Mapping />
				</Group>
			</Mappings>
		</FcConfiguration>
	-->

	<xs:simpleType name="CapsLockToggleModeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal" />
			<xs:enumeration value="pressTwice" />
			<xs:enumeration value="disabled" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CapsLockSwapModeEnumeration">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal" />
			<xs:enumeration value="swap" />
			<xs:enumeration value="replace" />
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="FcConfiguration">
		<xs:complexType>
			<xs:sequence>

				<xs:element name="Options" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="Startup">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StartActive" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
										<xs:element name="StartWithWindows" type="xs:boolean" minOccurs="0" maxOccurs="1" default="false" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Keyboard">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CapsLockToggleMode" type="CapsLockToggleModeEnumeration" minOccurs="0" maxOccurs="1" default="normal" />
										<xs:element name="CapsLockSwapMode" type="CapsLockSwapModeEnumeration" minOccurs="0" maxOccurs="1" default="normal" />
										<xs:element name="ComposeKey" type="xs:unsignedByte" />
										<xs:element name="SwapCapsLockKey" type="xs:unsignedByte" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>

							<xs:element name="Sounds">
								<xs:complexType>
									<xs:sequence>

										<xs:element name="Scheme" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>

													<xs:element name="SoundEvent" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:choice minOccurs="1" maxOccurs="1">
																<xs:element name="Tone" minOccurs="0" maxOccurs="1">
																	<xs:complexType>
																		<xs:attribute name="Frequency" type="xs:unsignedInt" use="required" />
																		<xs:attribute name="Duration" type="xs:unsignedInt" use="required" />
																	</xs:complexType>
																</xs:element>
																<xs:element name="ApplicationSound" minOccurs="0" maxOccurs="1" />
																<xs:element name="NoSound" minOccurs="0" maxOccurs="1" />
															</xs:choice>
															<xs:attribute name="Name" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>

												</xs:sequence>
												<xs:attribute name="ID" type="xs:string" use="required" />
												<xs:attribute name="Name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>

									</xs:sequence>
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="Mappings">
					<xs:complexType>
						<xs:sequence>

							<xs:element name="Group" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>

										<xs:element name="Mapping" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Sequence" type="xs:string" />
													<xs:element name="Result" type="xs:string" />
												</xs:sequence>
												<xs:attribute name="Disabled" type="xs:boolean" use="optional" default="false" />
												<xs:attribute name="CaseInsensitive" type="xs:boolean" use="optional" default="false" />
												<xs:attribute name="Reversible" type="xs:boolean" use="optional" default="false" />
											</xs:complexType>
										</xs:element>

									</xs:sequence>
									<xs:attribute name="Name" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
